<!DOCTYPE html>
<html lang="en">
  <head>
      {% load static %}
      <link href="{% static 'styles.css' %}" rel="stylesheet" crossorigin="anonymous"/>
      <title>{% block title %}Truchet Tiling{% endblock %}</title>
      <script type="module">
        import hotwiredTurbo from 'https://cdn.skypack.dev/@hotwired/turbo';
      </script>
  </head>

  <body>
      <div id="content">
          {% block content %}{% endblock %}
      </div>

      <script>
        // Attach the x-requested-with header to all requests made by Turbo
        document.addEventListener("turbo:before-fetch-request", event => {
            event.preventDefault();
            event.detail.fetchOptions.headers["X-Requested-With"] = 'XMLHttpRequest';
            event.detail.resume();
        });
      </script>
  </body>
</html>