{% extends template %}

{% block title %}Rectangular Truchet Tiling{% endblock %}

{% block content %}
    <turbo-frame id="main" data-turbo-action="advance">
        {% load static %}
        <div class="page-container">
            <!-- SVG Display Area -->
            <div class="display-area" id="svg-container">
                {{ svg_text|safe }}
            </div>
            <div class="controls-sidebar" id="form-container">
                <form action="/rect/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    {% include "preset_colors.html" %}
                    <a href="data:text/plain;charset=utf-8,{{svg_text | urlencode}}" download="file.svg">Download SVG</a>
                </form>
            </div>
        </div>

        {% include "scripts.html" %}
    </turbo-frame>
{% endblock %}